@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border border-grey-medium mt-2 px-3 py-2 rounded-md hover:border-green-medium
        focus:outline-none focus:ring-1 focus:ring-green-medium cursor-pointer;
  }
  .radio-button {
    @apply w-5 h-5 bg-white border-2 border-grey-medium rounded-full
    flex items-center justify-center;
  }
}

@layer base {
  @font-face {
    font-family: "Karla";
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf) format("woff2");
  }
  @font-face {
    font-family: "Karla";
    font-style: italic;
    font-display: swap;
    src: url(./assets/fonts/Karla-Italic-VariableFont_wght.ttf) format("woff2");
  }
}
